main {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

textarea {
  width: 300px;
  height: 150px;
}

input {
  width: 20px;
}

button {
  width: 20px;
  height: 20px;
}
